.App{
  text-align: center;
}

.search-input{
  width: 500px;
  padding: 5px;

  
}


.results-container{
  width: 500px;
  margin: auto;
  border: 1px solid #333;
  padding: 5px;
  max-height: 500px;
  text-align: left;
  overflow-y: auto;
}

.result{
  display: block;
  padding: 3px 5px;
}

.result:hover{
  background-color: beige;
}